$col_cell   : #eef;
$col_border : #aaa;
$radius     : 3px;
$icon_type  : 'svg';

body {
	font-family: sans-serif;
}

header {
	width: 1024px;
	height: 118px;
	background: url('../img/header.jpg') no-repeat;
	margin: auto;
	display: flex;
	
	h1 {
		text-align: center;
		align-self: last baseline;
		margin-bottom: 6px;
		color: white;
		text-shadow: 2px 2px black;
		width: 100%;
	}
}

input.field {
	background: $col_cell;
	border: 1px solid $col_border;
	border-radius: $radius;
}

input.field.dirty {
	border-color: red;
	border-width: 2px;
	font-weight: bold;
}

section.category {
	border: 1px solid $col_border;
	padding: 6px;
	
	summary {
		font-size: 120%;
		font-weight: bold;
		background: #eee;
		padding: 4px;
		border-radius: $col_border;
	}
	
	.category {
		margin-left: 20px;
	}
}

#toolbar {
	ul {
		list-style-type: none;
		
		li {
			display: inline-block;
			width: 48px;
			height: 48px;
			background-size: contain;
			background-color: #aaa;
			background-origin: content-box;
			padding: 4px;
			border: solid 2px grey;
			border-radius: $radius;
			background-repeat: no-repeat;
			box-shadow: 2px 2px #666;
		}
		
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
		
		li:hover {
			transform: translateX(2px) translateY(2px);
			box-shadow: none;
		}
		
		li#btnnew {
			background-image: url("../img/icn-add-document.#{$icon_type}");
		}
		
		li#btnload {
			background-image: url("../img/icn-folder-open.#{$icon_type}");
			
			label {
				width: 48px;
				height: 48px;
				display: block;
			}
			
			#btnload_elem {
				display: none;
			}
		}
		
		
		
		li#btnsave {
			background-image: url("../img/icn-disk.#{$icon_type}");
		}
		
		li#btnhelp {
			background-image: url("../img/icn-interrogation.#{$icon_type}");
		}
	}
}

// :mode=css: