body {
	font-family: sans-serif;
}

header {
	width: 1024px;
	height: 118px;
	background: url('header.jpg') no-repeat;
	margin: auto;
	display: flex;
	
	h1 {
		text-align: center;
		align-self: last baseline;
		margin-bottom: 6px;
		color: white;
		text-shadow: 2px 2px black;
		width: 100%;
	}
}
// :mode=css: